@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

h1,
h2,
h3,
h4,
h5,
p,
span,
button,
a,
div,
li,
ol,
body,
input {
  font-family: "Inter";
}

.modal {
  background: rgba(0, 0, 0, 0.3);
}
.modal-content {
  padding: 30px;
  max-height: 500px;
  overflow-y: auto;
}

.sideNav {
  background: #212529;
  position: absolute;
  height: 100%;
}

.sideNav .list-group-item {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 15px 15px 35px;
}

.sideNav .list-group-item img {
  margin-right: 10px;
}

.sideNav .list-group-item.active {
  background: #77329b;
  color: #fff;
}

.sideNav .list-group a {
  display: flex;
}

nav {
  padding: 25px 0;
  border-bottom: 1px solid #ebecf1;
}

nav .dropdown button,
nav .dropdown button:hover {
  background: none !important;
  border: none;
  color: #212529;
}

nav .dropdown-toggle {
  position: relative;
}

nav .dropdown-toggle::after {
  border: none;
  content: "";
  background: url(/images/icons/dropdown-arrow.svg) center center no-repeat;
  width: 8.83px;
  height: 3.67px;
  /* position: absolute; */
}

.btn.btn-primary {
  background: #77329b;
  border: 1px solid #77329b;
  font-size: 14px;
  height: 40px;
}

.toolbar {
  margin-top: 20px;
}

.toolbar .input-group-text {
  background: none;
  border: 1px solid #ebecf1;
  border-right: 0;
}

.toolbar input {
  border: 1px solid #ebecf1;
  border-left: 0;
}

.toolbar input:focus {
  box-shadow: none;
  border: 1px solid #ebecf1;
  border-left: 0;
}
